.Cart {
display:flex;
flex:1 0 auto;
height: max-content;
padding :23px;
}

.CartAd{
    margin-bottom: 14px;
    width: 100%;
}

.ImgCartEmpty
{
    width:350px;
    height: 250px;
    object-fit: contain;
    margin:12px auto;
}