    <div className="Products">
        <img src="https://m.media-amazon.com/images/I/41xnfQ6+TCL._AC
        _SY200_.jpg" alt=""/>
        <div className="ProductInformation">
            <p>Vivo Y56</p>
            <div className="ProductsGroups">
                <div className="ProductPrice">
                    <small>$</small>
                    <strong>$750</strong>
                    <p>
                        <div className="ProductRating">
                               <StarIcon/>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <button>Add to Kart</button>
    </div>
    <div className="Products">
        <img src="https://m.media-amazon.com/images/I/41xnfQ6+TCL._AC
        _SY200_.jpg" alt=""/>
        <div className="ProductInformation">
            <p>Vivo Y56</p>
            <div className="ProductsGroups">
                <div className="ProductPrice">
                    <small>$</small>
                    <strong>$750</strong>
                    <p>
                        <div className="ProductRating">
                               <StarIcon/>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <button>Add to Kart</button>
    </div>


    <div className="ProductInformation">
        <p>Vivo Y56</p>
        <div className="ProductsGroups">
            <div className="ProductPrice">
                <small>$</small>
                <strong>$750</strong>
                <p>
                    <div className="ProductRating">
                           <StarIcon/>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <button>Add to Kart</button>
</div>